#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.box {
    background-color: rgb(43, 144, 202);
    border: 2px solid rgb(0, 0, 0);
    width: 285px;
    height: 285px;
    overflow-wrap: break-word;
    margin: 5px;
}

.indexListing {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(35, 117, 184);
    justify-content: center;
}

.imgIndexList {
    width: 125px;
    height: 125px;
}

.categoriesDropdownLabel {
    border: 2px solid black;
}
